# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
/.venv/

# Tooling
.pytest_cache/
.mypy_cache/
.ruff_cache/
.pyinstaller/
.coverage
htmlcov/
/build/
/dist/
/*.spec

# Review
.test/

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/
